<br><br>
<ul>
  <li>
    <h1>
      <span><%= @cocktail.name %></span>
      <span>
        <%= link_to new_cocktail_dose_path(@cocktail.id) do %>
           <i class="fas fa-plus add add-link"></i>
          <% end %>
      </span>
    </h1>
  </li>
</ul>


<div class="show-list">
  <ul class="list-group">
    <% @cocktail.doses.each do |dose| %>
     <li class='list-group-item list-up'>
        <%= dose.description %>
        <%= dose.ingredient.name %>
        <%= link_to dose_path(dose.id), method: :delete do %>
          <i class="far fa-trash-alt small"></i>
        <% end %>
      </li>
    <% end %>
  </ul>

</div>

<div class="show-btn">
  <%= link_to cocktails_path, class:'btn btn-style' do%>
    <span>
      <p class="bouton">Back</p>
    </span>
  <% end %>
</div>


<%= cl_image_tag("v0bfrfrjcjagvz5oo3tw") %>
